{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      <div class="page-head">
        <h1 class="page-head__title">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>

<!-- begin page -->
<article class="page fadein">
  <div class="container">
    <div class="row">
      {{ if .Params.image }}
      <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
        <div class="image-box">
          <div class="page-image" style="background-image: url('{{ .Params.Image | absURL }}')" aria-label="{{ .Title }}"></div>
        </div>
      </div>
      {{ end }}
      <div class="col col-8 col-d-10 push-d-1 push-2 col-m-12 push-m-0">
        <div class="page__content">
          <div class="form-box">

            <div class="contact-head">
              {{ if .Content }}
                <div class="page-description">{{ .Content }}</div>
              {{ end }}
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</article>
<!-- end page -->

{{ end }}